/* grid block one */
.grid-content .content-wrapper {
  max-width: 360px;
}
.grid-content {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 137px;
}
.grid-content .title-box .title-separator {
  margin-left: 0;
  margin-top: 26px;
}
.grid-content .text {
  line-height: 1.667;
}
.grid-content .btn {
  margin-top: 37px;
}

/* grid one */
.sc-grid-one {
  padding: 115.5px 0 114.5px 0;
  background-color: var(--clr-blue);
}
.sc-grid-one .grid-content .title-box .title-separator {
  background-color: var(--clr-white);
}

/* grid two */
.sc-grid-two {
  padding: 114.5px 0 125px 0;
}
.sc-grid-two .grid-content .grid-img {
  order: 2;
}
.sc-grid-two .grid-content .grid-text .content-wrapper {
  max-width: 340px;
}
.sc-grid-two .btn:hover img {
  filter: invert(100%) brightness(100);
}
.sc-grid-two .grid-content .grid-text {
  margin-left: auto;
}
.sc-grid-two .btn img {
  margin-left: 7px;
}

@media screen and (max-width: 992px) {
  /* grid one */
  .sc-grid-one,
  .sc-grid-two {
    padding: 100px 0;
  }

  .grid-content .content-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .grid-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-content .title-box .title-separator {
    margin-left: auto;
  }
  .grid-content .grid-img {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .sc-grid.sc-grid-two .grid-content .content-wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .sc-grid-two .grid-content .grid-text {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  /* grid one */
  .sc-grid-one,
  .sc-grid-two {
    padding: 80px 0;
  }
}
